/*** Style page content ***/
/* Navigation bar */
.icon-bar {
    width: 80px;                    /* Set a specific width */
    background-color: #000;         /* Black background */

    height: 100%;
    position: fixed;
    z-index: 10;                    /* Stay on top */
    top: 0;                         /* Stay at the top */
    left: 0;                        /* Fixed on the left */
    overflow-x: hidden;             /* Disable horizontal scroll */
    padding-top: 25px;
}
.icon-bar a {
    display: block;                 /* Make the links appear below each other instead of side-by-side */
    text-align: center;             /* Center-align text */
    padding: 16px;                  /* Add some padding */
    transition: all 0.3s ease;      /* Add transition for hover effects */
    color: white;                   /* White text color */
    font-size: 36px;                /* Increased font-size */
}
.icon-bar a:hover {
    background-color: rgba(185, 174, 174, 0.61);       /* Add a hover color */
}
.active {
    background-color: #C0C0C0;      /* Add an active/current color */
}
* {
    box-sizing: border-box;
}

/* Header: Message bar */
.hdr-msg-bar {
    background-color: #006675;
    color: #58c7d8;

    text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;

    width: 100%;                    /* Full screen width */
    height: 25px;                   /* Equal to padding top .icon-bar */

    padding: 0px 0px 0px 90px;      /* T,R,B,L */
    position: fixed;
    z-index: 5;                     /* Stay below .icon-bar */
    top: 0;                         /* Stay at the top */
    left: 0;                        /* Fixed on the left */
    overflow: hidden;               /* Disable scrollbar */
}
/* Header: Folder navigation bar */
.hdr-folder-nav {
    background-color: #000;

    width: 100%;                    /* Full screen width */
    height: 120px;                  /* Equal to or larger than padding-top .icon-bar */

    padding: 25px 0px 0px 90px;     /* T,R,B,L */
    position: fixed;
    z-index: 0;                     /* Stay below .icon-bar */
    top: 0;                         /* Stay at the top */
    left: 0;                        /* Fixed on the left */
}
#folder-hdr {
    color: #fff;

    text-align: left;
	font-family: Verdana, Arial;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;

}
.folder-tree {
    background-color: #000;
    color: #fff;

    overflow-x: auto;               /* Horizontal scrollbar */
    white-space: nowrap;
}
.folder {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
.folder:hover {
    background-color: #777;
}
/* Main content */
.main {
    padding: 120px 10px 0px 100px;  /* T,R,B,L */
}
