# All hidden files
.*

# All debug code
debug/**
*.bak

# All cached data
cache/*

# Serialized content
*.ser.php

# All of Fandal's archive
fandal/**

# Some exceptions
!.gitignore
